# Dependencies
node_modules
.pnpm-store

# Build
dist
build

# Environment
.env
.env.*
!.env.example

# IDE
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Tests
/coverage
/.nyc_output

# Prisma
/prisma/migrations 